.top-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  margin-bottom: 5px;
  background-color: #181a23; /* Couleur de fond sombre */
  color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}

.top-navigation input[type="text"] {
  width: 40%;
  padding: 10px 15px;
  background-color: #2a2e39; /* Fond plus foncé */
  border: none;
  border-radius: 20px;
  color: #ffffff;
  outline: none;
  font-size: 16px;
}

.top-navigation input[type="text"]::placeholder {
  color: #888ea8; /* Placeholder plus clair */
}

.top-navigation .icons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.top-navigation .icons span {
  background-color: #2a2e39;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  transition: background-color 0.3s ease;
}

.top-navigation .icons span:hover {
  background-color: #4c4f63;
}
